<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="/admin/css/style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/4d66efb478.js"></script>

    <title>Liste des Mangas</title>
</head>

<body>




    <div class="container">
        <ul>

            <li><a href="/mangas/create">Ajouter une mangas</a></li>
        </ul>
        <ul>

            <%if (!utilities.empty(shonen)) { %>
            <li><a href="/mangas/categorie/<%=shonen[0].category_id%>">
                    Shônen
                    <span><%=Object(shonen).length%></span></a>
            </li>
            <%}%>
            <% if(!utilities.empty(shojo)) { %>

            <li><a href="/mangas/categorie/<%=shojo[0].category_id%>"> Shôjo
                    <span><%=Object(shojo).length%></span></a>

            </li>
            <% } %>
            <% if(!utilities.empty(seinen)) { %>
            <li><a href="/mangas/categorie/<%=seinen[0].category_id%>">Seinen
                    <span><%=Object(seinen).length%></span></a>

            </li>
            <% } %>
            <% if(!utilities.empty(yaoi)) { %>

            <li><a href="/mangas/categorie/<%=yaoi[0].category_id%>"> Yaoi
                    <span><%=Object(yaoi).length%></span></a>

            </li>
            <% } %>
            <% if(!utilities.empty(yuri)) { %>

            <li><a href="/mangas/categorie/<%=yuri[0].category_id%>">Yuri
                    <span><%=Object(yuri).length%></span></a>

            </li>
            <% } %>

        </ul>
        <div class="row">


            <table border="1">
                <thead>
                    <tr>
                        <th>Titre du manga</th>
                        <th>Cover</th>
                        <th>Categorie</th>
                        <th>Ajouter un chapitre</th>



                    </tr>
                </thead>
                <tbody>
                    <% for (let i=0; i < mangas.length; i++) { %>
                    <tr>

                        <td><%= mangas[i].title %></td>
                        <td><a href="/mangas/fiche/<%= mangas[i].manga_id %>"><img src="<%= mangas[i].cover %>"
                                    width="30%" alt=""></a></td>
                        <td><a href="/mangas/categorie/<%= mangas[i].category_id %>"><%= mangas[i].category.label %></a>
                        </td>
                        <td><a
                                href="/mangas/<%= mangas[i].manga_id %>/page/<%= mangas_chapter[i].chapter.chapter_id %>">Lire</a>
                        </td>




                    </tr>
                    <% } %>

                </tbody>
            </table>
        </div>



    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

</body>