<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profil de <%=user.user.username%></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="/admin/css/interface.css" rel="stylesheet" />


</head>

<body>

    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                <a href="/" style="color: white;"><i class="fas fa-book-reader"></i> MangaLife</a>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <a href="/mangas">Listes des Mangas</a>
            <a href="/list/favoris">Mes favoris</a>
            <a href="/profil"><%=locals.user.username%></a>
            <a href="/logout">Déconnexion</a>



            <input type="text" id="search" placeholder="Rechercher un mangas">
        </div>
    </div>



    <h1>Profil de <%=user.user.username%></h1>

    <img src="<%=user.user.image%>" alt="" width="10%">
    <ul>
        <li>Email : <%=user.user.email%></li>
        <li>Role : <% if(user.user.role === 1){%>
            Administrateur
            <%}else{%>
            Lecteur
            <%} %>
        </li>
    </ul>

</body>